{% load static %}

<!-- footer area -->
<footer class="footer-area">
    <div class="footer-widget">
        <div class="container">
            <div class="row footer-widget-wrapper pt-100 pb-70">
                <div class="col-md-6 col-lg-4">
                    <div class="footer-widget-box about-us">
                        <a href="#" class="footer-logo">
                            <img src="{% static 'frontend/assets/img/logo/logo-light.png' %}" alt="">
                        </a>
                        <p class="mb-3">
                            We are a trusted and and certified Tesla dealership, we have sold cars to hundreds of people, we are always ready to serve you.
                        </p>
                        <ul class="footer-contact">
                            <li><a href="tel:+21236547898"><i class="far fa-phone"></i>+1 (469) 208 2690</a></li>
                            <li><i class="far fa-map-marker-alt"></i>Las Cimas, Building II, 807 Las Cimas Pkwy, Austin, TX 78746, United States</li>
                            <li><a href="/cdn-cgi/l/email-protection#5831363e37183d20393528343d763b3735"><i
                                        class="far fa-envelope"></i><span class="__cf_email__" data-cfemail="b9d0d7dfd6f9dcc1d8d4c9d5dc97dad6d4">[email&#160;protected]</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="footer-widget-box list">
                        <h4 class="footer-widget-title">Quick Links</h4>
                        <ul class="footer-list">
                            <li><a href="#"><i class="fas fa-caret-right"></i> About Us</a></li>
                            <li><a href="#"><i class="fas fa-caret-right"></i> Update News</a></li>
                            <li><a href="#"><i class="fas fa-caret-right"></i> Testimonials</a></li>
                            <li><a href="#"><i class="fas fa-caret-right"></i> Terms Of Service</a></li>
                            <li><a href="#"><i class="fas fa-caret-right"></i> Privacy policy</a></li>
                            <li><a href="#"><i class="fas fa-caret-right"></i> Promo</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer-widget-box list">
                        <h4 class="footer-widget-title">Support Center</h4>
                        <ul class="footer-list">
                            <li><a href="#"><i class="fas fa-caret-right"></i> FAQ's</a></li>
                            <li><a href="#"><i class="fas fa-caret-right"></i> Affiliates</a></li>
                            <li><a href="#"><i class="fas fa-caret-right"></i> Booking Tips</a></li>
                            <li><a href="#"><i class="fas fa-caret-right"></i> Sell Vehicles</a></li>
                            <li><a href="#"><i class="fas fa-caret-right"></i> Contact Us</a></li>
                            <li><a href="#"><i class="fas fa-caret-right"></i> Sitemap</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer-widget-box list">
                        <h4 class="footer-widget-title">Newsletter</h4>
                        <div class="footer-newsletter">
                            <p>Subscribe Our Newsletter To Get Latest Update And News</p>
                            <div class="subscribe-form">
                                <form action="#">
                                    <input type="email" class="form-control" placeholder="Your Email">
                                    <button class="theme-btn" type="submit">
                                        Subscribe Now <i class="far fa-paper-plane"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6 align-self-center">
                    <p class="copyright-text">
                        &copy; Copyright <span id="date"></span> <a href="#"> TESLA ELEMOTEX </a> All Rights Reserved.
                    </p>
                </div>
                <!-- <div class="col-md-6 align-self-center">
                    <ul class="footer-social">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div> -->
            </div>
        </div>
    </div>
</footer>
<!-- footer area end -->